<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light col-md-12" >
        <a class="navbar-brand col-mod-4" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a class="navbar-brand col-mod-4 pagina" href="#">
          <img src="../../../assets/fulllogo.png" alt="">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
            </li>
            <li class="nav-item">
                
              <!-- <a class="nav-link" href="#">Link</a> -->
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <div class="form-group row">
              <ul class="navbar-nav mr-auto ">
                  <li><a class="dropdown-item menu" routerLink="/fg" >Vender</a></li>
                  <li><a class="dropdown-item menu" data-toggle="modal" data-target="#modalregister"  href="#">Mi cuenta</a></li>
              </ul>
              </div>
    
             
    
          </form>
        </div>
      </nav>

      <div style="font-size: 48px;font-weight: bold;color:#5929C5;text-align: center;">
        Plataforma digital especializada en la compra y venta de propiedades
      </div>
      <div style="font-size: 20px;color:#707070;text-align: center;">
        Contamos con la mejor tecnología, gran experiencia y esfuerzo humano de nuestro equipo, para brindarte una solución completa de forma fácil, transparente y con una comisión única.
        Lo más importante es lograr tratos claros y simples
      </div>
      <div  class="row">
          <img width="100%" src="../../../assets/img/family.png" alt="">
      </div>
      <div class="row">
        <div style="float: left; width: 50%;" >
            <br>
            <div style="font-size: 36px;font-weight: bold;color:#5929C5;">¿Por qué nace<br>Trato Hecho, y<br> cual es nuestro<br> objetivo?</div>
            <div style="font-size: 20px;font-weight: bold;color:#707070;">
                Bienes Raíces es el mercado más grande del mundo, pero es uno de los más lentos en avanzar en cuanto al uso de la tecnología.
                <br>
                En Trato Hecho nuestro objetivo es modernizar y formalizar el mercado de bienes raíces, convirtiéndolo en una mejor experiencia para quien compra o vende.
            </div>
        
        </div>
        <div style="float: right; width: 50%;" ><br>
            <img width="60%" src="../../../assets/img/s1.png" alt="">
        </div>
        <br>
      </div>
      <div class="row">
        <div style="float: right; width: 50%;" ><br>
            <img width="60%" src="../../../assets/img/s2.png" alt="">
        </div>
        <div style="float: left; width: 50%;" >
            <br>
            <div style="font-size: 36px;font-weight: bold;color:#5929C5;">¿Cómo lo logramos?</div>
            <div style="font-size: 20px;font-weight: bold;color:#707070;">
                Unimos la tecnología con la atención de asesores inmobiliarios reales que te acompañarán durante todo el proceso.
                <br><br>
                <ul>
                    <li>Ahorramos tu tiempo, nos encargamos de todo.</li>
                    <li>Avalúo comercial gratuito.</li>
                    <li>Levantamiento completo de la propiedad hecho por profesionales (fotos, videos, medidas, planos).</li>
                    <li>Calculadora hipotecaria.</li>
                    <li>Call center y mercadotecnia.</li>
                    <li>Te ofrecemos la comisión más baja del mercado, y si no vendes tu propiedad con nosotros, no pagas.</li>
                </ul>
            </div>
        </div>
      </div>
      <div class="row" style="font-size: 36px;font-weight: bold;color:#5929C5;text-align: center !important;width: 100%;">
        ¿Qué pasos seguimos?
    </div>
    <div class="row" style="width: 100%;" >
        <img width="100%" src="../../../assets/img/s6.png" alt="">
        

    </div>
    <app-footer></app-footer>
</div>