<div class="container">
  <app-bar></app-bar>
    

      <div style="font-size: 48px;font-weight: bold;color:#5929C5;text-align: center;">
        Plataforma digital especializada en la compra y venta de propiedades
      </div>
      <div style="font-size: 20px;color:#707070;text-align: center;">
        Contamos con la mejor tecnología, gran experiencia y esfuerzo humano de nuestro equipo, para brindarte una solución completa de forma fácil, transparente y con una comisión única.
        Lo más importante es lograr tratos claros y simples
      </div>
      <div  class="row">
          <img width="100%" src="../../../assets/img/family.png" alt="">
      </div>
      <div class="row">
        <div style="float: left; width: 50%;" >
            <br>
            <div style="font-size: 36px;font-weight: bold;color:#5929C5;">¿Por qué nace<br>Trato Hecho, y<br> cual es nuestro<br> objetivo?</div>
            <div style="font-size: 20px;font-weight: bold;color:#707070;">
                Bienes Raíces es el mercado más grande del mundo, pero es uno de los más lentos en avanzar en cuanto al uso de la tecnología.
                <br>
                En Trato Hecho nuestro objetivo es modernizar y formalizar el mercado de bienes raíces, convirtiéndolo en una mejor experiencia para quien compra o vende.
            </div>
        
        </div>
        <div style="float: right; width: 50%;" ><br>
            <img width="60%" src="../../../assets/img/s1.png" alt="">
        </div>
        <br>
      </div>
      <div class="row">
        <div style="float: right; width: 50%;" ><br>
            <img width="60%" src="../../../assets/img/s2.png" alt="">
        </div>
        <div style="float: left; width: 50%;" >
            <br>
            <div style="font-size: 36px;font-weight: bold;color:#5929C5;">¿Cómo lo logramos?</div>
            <div style="font-size: 20px;font-weight: bold;color:#707070;">
                Unimos la tecnología con la atención de asesores inmobiliarios reales que te acompañarán durante todo el proceso.
                <br><br>
                <ul>
                    <li>Ahorramos tu tiempo, nos encargamos de todo.</li>
                    <li>Avalúo comercial gratuito.</li>
                    <li>Levantamiento completo de la propiedad hecho por profesionales (fotos, videos, medidas, planos).</li>
                    <li>Calculadora hipotecaria.</li>
                    <li>Call center y mercadotecnia.</li>
                    <li>Te ofrecemos la comisión más baja del mercado, y si no vendes tu propiedad con nosotros, no pagas.</li>
                </ul>
            </div>
        </div>
      </div>
      <div class="row" style="font-size: 36px;font-weight: bold;color:#5929C5;text-align: center !important;width: 100%;">
        ¿Qué pasos seguimos?
    </div>
    <div class="row" style="width: 100%;" >
        <img width="100%" src="../../../assets/img/s6.png" alt="">
        

    </div>
    <app-footer></app-footer>
</div>