<div class="contenedorfooter">
    <div class="izquierdafooter">
      <div>     <img class="sala" src="../../../assets/img/logo2.png" alt="">
      </div>
      <div class="aviso"><a>Aviso de privacidad</a></div>
    </div>
    <div class="central-izquierda"><h6>Mapa del sitio</h6><br/>
     <a class="dropdown-item menu" routerLink="/" > Inicio</a>
      <a class="dropdown-item menu" routerLink="/compra" > Comprar</a>
      <a class="dropdown-item menu" href="#">> Vender</a>
      <a class="dropdown-item menu"routerLink="/fg" > Como funciona</a>
      <a class="dropdown-item menu" href="#">> Noticias</a>
  </div>
    <div class="central-derecha"><h6>Mapa del sitio</h6><br/>
      <a class="dropdown-item menu" href="#">Domicilio conocido 3245 </a>
      <a class="dropdown-item menu" href="#"> Residencial Nuevo,</a>
      <a class="dropdown-item menu" href="#">Culiacan Sinaloa</a><br/>
      
       <a class="dropdown-item menu" href="#">+52 667 734 45 65</a></div>
    <div class="derecha"><h6>Siguenos</h6></div>
   
   
  </div>
  <div class="contenedor1">
      <div class="contenedor2">
          <p>Todos los derechos reservador, 2020</p>
               </div>
           </div>