<script src="https://kit.fontawesome.com/8b41a163ea.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light col-md-12" >
    <a class="navbar-brand col-mod-4" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a class="navbar-brand col-mod-4 pagina" href="#">trato echo</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
        </li>
        <li class="nav-item">
            
          <!-- <a class="nav-link" href="#">Link</a> -->
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="form-group row">
          <ul class="navbar-nav mr-auto ">
              <li><a class="dropdown-item menu" href="#">Vender</a></li>
              <!-- <li><a class="dropdown-item menu" (click)="cambiaEstado()" href="#">Inicia sesion o registrate</a></li> -->
              <li><a class="dropdown-item menu" href="#">Inicia sesion o registrate</a>
          </ul>
          </div>

          

      </form>
    </div>
  </nav>

  
  
  
  <div class="container1">
     
    <!-- <div class="row">
        <img class="sala" src="../../../assets/img/sala.jpg" alt="">
        <div id="boton"> este es el boton</div>
    </div> -->
<div class="casas">
    <div></div>
</div>
    

 

      <div class="contenedor">
  
       

        <div class="contenedor1">
          <div class="izquierda">
            <div>     <img class="sala" src="../../../assets/img/logo2.png" alt="">
            </div>
            <div class="aviso"><a>Aviso de privacidad</a></div>
          </div>
          <div class="central-izquierda"><h6>Mapa del sitio</h6><br/>
           <a class="dropdown-item menu" href="#">> Inicio</a>
            <a class="dropdown-item menu" href="#">> Comprar</a>
            <a class="dropdown-item menu" href="#">> Vender</a>
            <a class="dropdown-item menu" href="#">> Como funciona</a>
            <a class="dropdown-item menu" href="#">> Noticias</a>
        </div>
          <div class="central-derecha"><h6>Mapa del sitio</h6><br/>
            <a class="dropdown-item menu" href="#">Domicilio conocido 3245 </a>
            <a class="dropdown-item menu" href="#"> Residencial Nuevo,</a>
            <a class="dropdown-item menu" href="#">Culiacan Sinaloa</a><br/>
            
             <a class="dropdown-item menu" href="#">+52 667 734 45 65</a></div>
          <div class="derecha"><h6>Siguenos</h6></div>
         
         
        </div>
        <div class="contenedor1">
            <div class="contenedor2">
                <p>Todos los derechos reservador, 2020</p>
                     </div>
                 </div>

                
     </div>
  </div>
 